<!DOCTYPE HTML>
<html>
	<head>
		<title>Spotify Song Recommender</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="https://unpkg.com/picnic" /> 
		<style>  
			p {  
			  text-indent: 2.0em;  
			}  
		</style>
		<!--<link rel="stylesheet" href="main.css" />-->
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<nav>
					<a href="/" class="brand"><span>Spotify Song Recommender</span></a>
			 
					<!-- responsive-->
					
				</nav>

				{% block content %}			
					
					<!-- Section -->
					<section>
						<header>
							<h2>Find songs that fit your personal taste.</h2>
						</header>
						<div class="content">
							<p>
								<strong>Enter a song</strong>
								 to find out similar songs...
							</p>
							<form action="/recommendations" method="post">
								<div class="fields">
									
									<div class="field half">
										<input type="text" name="song_name" id="song_name" placeholder="Song Name" />
									</div>
									<br>
									<div class="field half">
										<input 
											type="text" 
											name="artist_name" 
											id="artist_name" 
											placeholder="Artist Name" 
										/>
									</div>
									<br>
								</div>
								<input type="submit" value="Submit" class="button primary"></input>
							</form>
							
						</div>
					</section>

				{% endblock %}
				
			</div>

		
	</body>
</html>